$color-1 = #000
$color-2 = #fff

.case-study
    width 100vw
    height 100vh
    overflow hidden
    background $color-1

.workwrapper
    position relative
    top 5vh
    width 97%
    height 95vh
    background $color-2
    border 3px solid $color-1

hr
    border-top 4px solid $color-1

.title
    width 100%
    top 1.5%
    font-size 20px
    position absolute
    text-align center
    font-family cardinal_grotesque_wideSBd

.backbtn
    width 100%
    bottom 0.1%
    padding-left 20px
    font-size 32px
    position absolute
    text-align left
    font-family cardinal_grotesque_wideBlack
    color $color-1

.textdesc
    transition opacity 0.6s ease
    background $color-1
    border-radius 0px 25px 25px 25px
    color $color-2
    padding 15px 30px 30px 30px
    position absolute
    bottom 6%
    right 6%
    width 20%
    font-family 'cardinal_grotesque_wideReg'
    font-size 20px

.hidetext
    opacity 0

.showtext
    opacity 1

.bodytext
    font-size 14px

.headtext
    font-family 'cardinal_grotesque_wideSBd'
    font-size 48px
    text-transform capitalize

.leftarrow
.rightarrow
    position absolute
    height 2%
    width 3%
    top 50%
    background-image url("../img/test/left.png")
    background-size contain
    background-repeat no-repeat
    background-position center

.leftarrow
    left 15%

.rightarrow
    right 15%
    background-image url("../img/test/right.png")

.footer
    width 50%
    height 40px
    margin auto
    left 0
    right 0
    bottom 0.5%
    position absolute
    text-align center

.full
    display flex
    justify-content center
    align-items center
    height 100%
    width 100%
    float left

.ctrimg
    width 60vw
    height 70vh
    margin 0 auto
    cursor url("../hand.png"), auto

.ctrimg img
.ctrimg video
    object-fit contain
    width 100%
    height 100%

.sliderwrapper
    transition opacity 0.25s ease

.fading
    opacity 0
    transition opacity 0.25s ease
