.pink {
    background: #e2a0c7;
    color: #0076bb;
  }
  .green {
    background: #235d39;
    color: #f3b120;
  }
  .yellow {
    background: #f3b120;
    color: #e43e30;
  }
  .blue {
    background: #0076bb;
    color: #e2a0c7;
  }
  .orange {
    background: #ec7625;
    color: #e2a0c7;
  }
  .red {
    background: #e43e30;
    color: #fff;
  }
  .white {
    background: #fff;
    color: #000;
  }
  .black {
    background: #000;
    color: #fff;
  }
  .pink-text {
    color: #e2a0c7;
  }
  .green-text {
    color: #235d39;
  }
  .yellow-text {
    color: #f3b120;
  }
  .blue-text {
    color: #0076bb;
  }
  .orange-text {
    color: #ec7625;
  }
  .red-text {
    color: #e43e30;
  }
  .white-text {
    color: #fff;
  }
  .black-text {
    color: #000;
  }
.vmgreen  {    background: #a5cf53 }
.vmgreen a {   color: black !important }
.dosblue {    background: #005cff }
.neon {    background: #e8f34f }
.neon a {    color: black !important }
.acrgreen {    background: #5bb947 }
.navy {    background: #3f5371 }
.tan {    background: #eee9d3 }
.tan a {    color: black !important }
.purple {    background: #230871 }
.teal {    background: #44a2bc }
.wjsblue {    background: #435ea5 }

.overlay a {
  transition: all .5s ease;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.overlay:hover a {
  text-shadow: 5px 6px 0px rgba(0, 0, 0, 1);
}

.overlay.vmgreen:hover a, .overlay.neon:hover a, .overlay.tan:hover a {
  text-shadow: 5px 6px 0px rgb(255, 255, 255, 1);
}

.overlay.black:hover a{
  text-shadow: 5px 6px 0px rgb(228, 62, 48, 1);
}